:root {
    --color-for-node: white;
    --shadow-for-node: 0 3px 10px rgba(26, 25, 25, 0.205);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.header {
    display: grid;
    background-color: var(--color-for-node);
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 3px 10px rgba(26, 25, 25, 0.205);
}

/* side bar content */

.sidebar {
    display: grid;
    padding-left: 1vw;
    grid-template-rows: 1fr 3fr 3fr;
    grid-row: 1 / span 2;
    background-color: #0284c7;
    color: #fff;
}

.sidebar ul , .sidebar ul li {
    font-size: 1.5vw;
    list-style-type: none;
    line-height: 3rem;
    font-weight: 500;
}

.title {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 2vw;
    font-weight: bolder;
}

#title-img {
    padding-right: 3%;
    width: 3vw;
    object-fit: cover;
}

/* Nav Bar stuff */

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#search-bar {
    background-color: #f3f4f6;
    border: none;
    border-radius: 15px;
    width: 65%;
    height: 40%;
    font-size: 1rem;
    padding-left: 1rem;
}

/* second half of navbar stuff */

.welcome-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#welcome{
    width: fit-content;
    position: relative;
    left: 6vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#nav-buttons > button {
    font-size: medium;
}

/* prob for the main-content functionality */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div.main-content > div h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.card {
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    background-color: var(--color-for-node);
    border-radius: 8px;
    box-shadow: var(--shadow-for-node);
    width: 13vw;
    height: 16rem;
    padding: 1rem;
    margin: 1rem;
}

#test-1 {
    grid-row-start: span 2;
}

