* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.header {
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 3px 10px rgba(26, 25, 25, 0.205);
}

/* side bar content */

.sidebar {
    display: grid;
    padding-left: 1vw;
    grid-template-rows: 1fr 3fr 3fr;
    grid-row: 1 / span 2;
    background-color: #0284c7;
    color: #fff;
}

.sidebar ul , .sidebar ul li {
    font-size: 1.5vw;
    list-style-type: none;
    line-height: 3rem;
    font-weight: 500;
}

.title {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 2vw;
    font-weight: bolder;
}

#title-img {
    padding-right: 3%;
    width: 3vw;
    object-fit: cover;
}

/* Nav Bar stuff */

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#search-bar {
    background-color: #f3f4f6;
    border: none;
    border-radius: 15px;
    width: 65%;
    height: 40%;
}